<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <welcome-file-list>
        <welcome-file>PersonList.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>controller.DispatcherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>controller.FileLocationContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>property</param-name>
        <param-value>property.properties</param-value>
    </context-param>

    <!---->
    <!--<servlet>-->
    <!--<servlet-fileName>DispatcherServlet</servlet-fileName>-->
    <!--<servlet-class>controller.DispatcherServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
    <!--<servlet-fileName>DispatcherServlet</servlet-fileName>-->
    <!--<url-pattern>/servlet</url-pattern>-->
    <!--</servlet-mapping>-->

</web-app>
